@use "/node_modules/bootstrap/scss/bootstrap.scss"; 
@use"./partial/variables.scss" as *;

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: $light;
    height: 100px;

    .logo {
        img {
            height: 50px
        }
    }
}

main {
    background-color: $darker;
    #content {
          height: 120px;
    }
    #band {
        background-color: $primary;
        .icon {
            img {
                height: 50px
            }
        }
    }
}