@use "/node_modules/bootstrap/scss/bootstrap.scss"; 
@use"./partial/variables.scss" as *;
@use"./partial/header.scss";
@use"./partial/main.scss";
@use"./partial/footer.scss";

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text;
}



