@use"./variables.scss" as *;

footer {
    #top_footer {
        background-image: url(../img/dc-logo-bg.png), url(../img/footer-bg.jpg),;
        background-repeat: no-repeat, repeat;
        background-position: right, left;


        .title {
        color: $light;
        }
    }
    #bottom_footer {
        background-color: $dark;
        .sign_up_btn {
            background-color: transparent;
            border: 1px solid $primary;
            height: 50%;
            margin: auto 0;
            font-size: 12px;
        }
        .follow_us_btn {
            background-color: transparent;
            border: none;
            color: $primary;
        }
    }
}