@use"./variables.scss" as *;

header {
    background-color: $light;
    height: 100px;

    .logo {
        img {
            height: 50px
        }
    }
}

.jumbotron {
    height: 200px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}