@use"./variables.scss" as *;



main {
    background-color: $darker;
  
    #band {
        background-color: $primary;
        .icon {
            img {
                height: 40px
            }
        }
    }
}